<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85438111214-vjnv7lhf56vsgugpovolqgb325t5095p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85438111214-vjnv7lhf56vsgugpovolqgb325t5095p</string>
	<key>API_KEY</key>
	<string>AIzaSyAdt0hEBqv41YZ1CzihcVL8BNnKs82QKH8</string>
	<key>GCM_SENDER_ID</key>
	<string>85438111214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.wilsonSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-20b15</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-20b15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85438111214:ios:b86d1e074974308ceac2ff</string>
</dict>
</plist>